@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pulse-opacity {
  animation: pulse 1.5s ease-in-out infinite;
}

.outer-polygon-path {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 32% 100%);
}

.inner-polygon-path {
  background-color: #000;
  clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 34% 100%);
}

.black-border-right {
  border-right: 3px solid black;
}



/* Colapsiable */

.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
  animation: slideDownCollapsible 400ms cubic-bezier(0.76, 0, 0.24, 1);
}
.CollapsibleContent[data-state='closed'] {
  animation: slideUpCollapsible 400ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes slideDownCollapsible {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUpCollapsible {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}


/* styles.css */
.HoverCardContent {
  transform-origin: var(--radix-hover-card-content-transform-origin);
  animation: scaleIn 0.2s ease-out;
}

.HoverCardContent[data-side='top'] {
  animation-name: slideUp;
}
.HoverCardContent[data-side='bottom'] {
  animation-name: slideDown;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Custom classes */
  .hover_links {
    @apply focus:opacity-70 hover:opacity-70 transition group-hover:opacity-70
  }
